/* FONT */
.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}